---
import { asset } from '~/lib/url';
---

<nav id="main-nav" class="nav">
  <div class="nav-inner">
    <a href="#" class="nav-logo">
      <img
        src={asset('uploads/Transparent Logo.png')}
        alt=""
        style="height: 36px; width: auto;"
      />
      Lehren <em>Lieben.</em>
    </a>
    <div class="nav-links">
      <a href="#podcasts">Podcasts</a>
      <a href="#mentor">KI-Mentor</a>
      <a href="#team">Team</a>
      <a href="#community">Community</a>
    </div>
    <a
      href="#community"
      class="btn btn-amber"
      style="font-size: 13px; padding: 10px 22px;"
    >
      Newsletter
    </a>
  </div>
</nav>
